.App {
  text-align: center;
  background-color: #333D46;
}

.App-header {
  background-color: #333D46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  background-color: #333D46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.App-footer {
  background-color: #333D46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.App-link {
  color: #333D46;
}
