html {
  background-image: url("./images/field.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  font-family: 'Inter', sans-serif;
}

.title {
  padding-top: 5px;
  background-color: #ACAD69;
  text-align: center;
  border-bottom: black solid 1px;
  font-family: 'Neucha', cursive;
  font-size: 40px;
  background-image: url('./images/ep_naturalwhite.png');
  background-blend-mode: multiply;
}

.banner {
  margin: 50px;
  background-color: #C3BF98;
  background-image: url('./images/dust-scratches.png');
  background-blend-mode: multiply;
  border: black solid 1px;
}

.banner-content {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  padding: 10px 35px 10px 35px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 35px 5px 35px;
}

.content > * {
  flex: 1 1 250px;
  margin: 15px;
}

.card {
  border: black solid 1px; 
  background-color: #C3BF98;
  background-image: url('./images/dust-scratches.png');
  background-blend-mode: multiply;
}

.card-title {
  text-align: center;
  padding: 15px;
  font-family: 'Neucha', cursive;
  font-size: 40px;
  border-bottom: solid black 1px;
  background-color: #ACAD69;
  background-image: url('./images/ep_naturalwhite.png');
  background-blend-mode: multiply;
}

.card-content {
  padding: 15px;
  margin: 20px;
  text-align: center;
}

.card-content img{
  max-width: 250px;
}

.footer {
  margin-top: 25px;
  text-align: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background-color: #C3BF98;
  background-image: url('./images/dust-scratches.png');
  background-blend-mode: multiply;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  background-color: #ACAD69;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #ACAD69;
  border-top: 10px solid #C3BF98;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}